@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: PressStart2P;
  background-color: teal;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cadetblue;
  border: 4px solid black;
  border-radius: 10px;
  padding: 5px 10px 10px 10px;
}

label {
  text-align: center;
}

.title-big {
  font-size: 13px;
}

.title-container {
  background-color: cadetblue;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: -15px;
  z-index: 2;
}

.title-medium {
  font-size: 10px;
  margin-bottom: 5px;
}

.title-small {
  margin-top: 5px;
  font-size: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.value {
  font-size: 9px;
  margin-top: 2px;
  margin-bottom: 0;
  text-align: center;
}

.hasTooltip {
  position: relative;
}

.hasTooltip:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  border: 2px solid black;
  border-radius: 10px;
  background: #c8c8c8;
  opacity: 50;
  padding: 7px 5px 5px 5px;
  position: absolute;
  top: -24px;
  z-index: 2;
  min-width: 35px;
  width: fit-content;
  height: fit-content;
}
