@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: PressStart2P;
  background-color: teal;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

label {
  text-align: center;
}

.title-big {
  font-size: 13px;
  margin-bottom: 10px;
}

.title-small {
  font-size: 10px;
  margin-bottom: 3px;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 0 5px;
}

.value {
  font-size: 9px;
  margin-top: 2px;
  margin-bottom: 0;
  text-align: center;
}
