.effects-container {
  grid-column: 1 / span 2;
}

.delay-container,
.bitcrusher-container,
.reverb-container,
.distortion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.reverb-container {
  margin-right: 5px;
}
