.master-controls-container {
  border: 3px solid black;
  background-color: cadetblue;
}

.octave {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.octave-button {
  display: flex;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-top: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-size: 9px;
  width: fit-content;
  height: fit-content;
  padding: 3px;
}

.octave-button:hover {
  background-color: #bdbdbd;
}
