.midi-container {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.midi-container > label {
  margin: 0px 5px;
}

.lightbulb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-size: 100%;
}

.green {
  border: 1px solid limegreen;
  background: linear-gradient(340deg, limegreen, limegreen, white);
}

.red {
  border: 1px solid red;
  background: linear-gradient(340deg, red, red, white);
}
