.slider-container {
  width: 30px;
  height: 130px;
  padding: 0;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  margin: 8px;
  background: #d3d3d3;
  outline: none;
  transform-origin: 50px 50px;
  transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 29px;
  border: none;
  border-radius: 3px;
  background: black;
  margin-top: 0;
}

.slider::-moz-range-thumb {
  width: 14px;
  height: 28px;
  border: none;
  border-radius: 3px;
  background: black;
  margin-top: 0;
}

.slider-container > label {
  font-size: 10px;
}
