.container {
  background-color: #ada59a;
  margin: auto;
  width: 100%;
  height: 100vh;
}

.top-container {
  display: flex;
  justify-content: space-evenly;
}

.bottom-container {
  display: flex;
  justify-content: center;
}
