.container {
  background-color: cadetblue;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  position: relative;
}

.top-container {
  display: grid;
  gap: 10px 5px;
  grid-template-columns: 200px 200px min-content min-content;
  grid-template-rows: 158px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  margin-top: 20px;
}

.bottom-container {
  background-color: #7f7f7f;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 4px;
  border: 3px solid black;
}
