.container {
  background-color: #7f7f7f;
  margin: auto;
  width: 75%;
  height: 100vh;
}

.top-container {
  display: flex;
  justify-content: space-evenly;
}

.bottom-container {
  display: flex;
  justify-content: center;
}

.volume-knob-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume-knob-label {
  font-size: 12px;
  margin-bottom: 10px;
}

.volume-knob-container > p {
  font-size: 10px;
}
