.container {
  background-color: cadetblue;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  position: relative;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px;
}

.midi-select,
.presets-select {
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: rgb(147, 192, 192);
  font-family: PressStart2P;
  font-size: 8px;
  padding: 3px;
}

.top-container {
  display: grid;
  gap: 10px 5px;
  grid-template-columns: 200px 200px min-content min-content;
  grid-template-rows: 158px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  margin-top: 20px;
}

.bottom-container {
  background-color: #7f7f7f;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 4px;
  border: 3px solid black;
}
