.waveform-switch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.waveform-switch-container > label {
  font-size: 12px;
  text-align: center;
}

.waveform-switch {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
  grid-gap: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.waveform-switch > input {
  display: none;
}

.waveform-switch > input:checked + label {
  background-color: #f5f5f5;
}

.waveform-switch > .radio-icon {
  display: flex;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.radio-icon:hover {
  background-color: #bdbdbd;
}
